.field-type-ordered-list {
  overflow: hidden;
}

.field-type-ordered-list .items-selected,
.field-type-ordered-list .items-available {
  display: inline-block;
  overflow: auto;
  width: 240px;
}

.field-type-ordered-list .items-selected .label,
.field-type-ordered-list .items-available .label {
  font-weight: bold;
  padding: 8px 0;
}

.field-type-ordered-list .items-selected .item-list,
.field-type-ordered-list .items-available .item-list {
  border: 1px solid #ccc;
  height: 145px;
  overflow: auto;
}

.field-type-ordered-list .items-selected .item-list ul,
.field-type-ordered-list .items-available .item-list ul {
  margin: 0;
}

.field-type-ordered-list .items-selected .item-list ul li,
.field-type-ordered-list .items-available .item-list ul li {
  border-bottom: 1px solid white;
  cursor: pointer;
  list-style: none;
  padding: 4px 8px;
}

.field-type-ordered-list .items-selected .item-list ul li:hover,
.field-type-ordered-list .items-available .item-list ul li:hover {
  background-color: #f0f0f0;
}

.field-type-ordered-list .items-selected .item-list ul li.selected,
.field-type-ordered-list .items-available .item-list ul li.selected {
  background-color: #e7e7e7;
  border-bottom: 1px solid #d0d0d0;
}

.field-type-ordered-list .items-selected .item-list ul li.selected:hover,
.field-type-ordered-list .items-available .item-list ul li.selected:hover {
  background-color: #e0e0e0;
  border-bottom: 1px solid #d0d0d0;
}

.field-type-ordered-list .buttons {
  display: inline-block;
  padding-top: 36px;
  vertical-align: top;
}

.field-type-ordered-list .buttons div {
  padding: 23px 20px;
}

.field-type-ordered-list .buttons div a {
  background: url(images/arrows.png) no-repeat transparent;
  display: block;
  height: 27px;
  overflow: hidden;
  text-indent: -9999px;
  width: 27px;
}

.field-type-ordered-list .buttons div a.button-right {
  background-position: -30px 0;
}
